torch==1.4.0
torchvision==0.5.0
numpy==1.18.5
pandas==1.1.2
nltk==3.5
tqdm==4.48.2
h5py==2.10.0
more_itertools==8.7.0
fire==0.3.1
keras==2.4.3
scikit_learn==0.24.1
spacy==3.0.5
transformers==3.3.1
tensorflow==2.3.0
tensorflow-gpu==2.3.0
